.holiday-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers content horizontally */
  min-height: 100vh; /* Ensures full height */
  padding: 20px;
  box-sizing: border-box;
  gap: 1px; /* Adds space between the image and text */
}

.left-section {
  flex: 1;
  display: flex;
  padding-right: 90px;
  justify-content:right; /* Centers the image horizontally within the left section */
  align-items: center; /* Centers the image vertically */
}

.guesthouse-image {
  width: 450px;
  height: 600px;
  border-radius: 8px;
}

.right-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content vertically */
  max-width: 50%; /* Limits the width of the text section */
}

.right-section h3 {
  font-size: 18px;
  color: #8c8c8c;
  margin-bottom: 10px;
}

.right-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.right-section p {
  font-size: 16px;
  padding-right: 200px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.bookbutton {
  background-color: #e4088f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: start; /* Aligns button to the start of the content */
}

.bookbutton:hover {
  background-color: #fa32ad;
}

hr {
  width: 80%; /* Set the width of the hr, 80% of its container */
  height: 2px; /* Set the thickness of the hr */
  background-color: #000; /* Set the color of the hr */
  border: none; /* Remove the default border */
  margin-right: 20%; /* Shift the hr to the left by reducing its margin on the right */
}
